Source: pidgin-line
Section: contrib/net
Priority: optional
Maintainer: Matti Virkkunen <mvirkkunen@gmail.com>
Build-Depends: debhelper (>= 9),thrift-compiler,libpurple-dev,libthrift-dev,libglib2.0-dev,quilt
Standards-Version: 3.9.6
Homepage: http://altrepo.eu/git/purple-line/
Vcs-Git: http://altrepo.eu/git/purple-line.git

Package: pidgin-line
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},
 libpurple0,libthrift0
Provides: purple-line
Description: purple-line
 libpurple (Pidgin, Finch) protocol plugin for LINE.
 Now, this doesn't work well on Empathy.
 To know usage, you should read README.md in /usr/share/doc/pidgin-line.
 .

Package: pidgin-line-dbg
Section: contrib/debug
Architecture: any
Priority: extra
Depends: ${misc:Depends}, pidgin-line (= ${binary:Version})
Description: purple-line (debugging symbols)
 libpurple (Pidgin, Finch) protocol plugin for LINE.
 This package includes debug symbols.
 .
