#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) all

override_dh_strip:
	dh_strip --dbg-package=pidgin-line-dbg

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

#comment out command if you don't want to build clean every time.
override_dh_auto_clean:
	$(MAKE) clean
	dh_clean
